<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Poll - Insert Email</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
        #myBar {
            width: 0;
            height: 30px;
            background-color: #198754;
            color: white;
            text-align: center;
            line-height: 30px;
            display: none;
            border-radius: 20px;
        }
    </style>

</head>
<body class="container w-100" onload="showNumber();">

<div class="row">
    <h1 class="text-center">ZeroPoll</h1>
</div>

<div class="d-flex align-items-center justify-content-center mt-5">
    <h4>Welcome,&nbsp;</h4>
    <h4 sec:authentication="name"></h4>&nbsp;
    <button class="btn btn-success" onclick="logout();">Logout <i class="fa-solid fa-right-from-bracket"></i></button>
</div>

<div class="row d-flex justify-content-center mt-5 gap-5">
    <div class="col-lg-2 w-25 box shadow rounded-2 p-3">
        <h4 class="text-center">Load E-Mails</h4>

        <div class="row d-flex justify-content-center align-items-center mb-3">
            <input id="file" name="file" type="file"/>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <button type="button" class="btn-success btn w-50" onclick="clickLoadEmails(); move();">
                Load e-mails
            </button>
        </div>
    </div>
    <div class="col-lg-2 w-25 box shadow rounded-2 p-3">
        <h4 class="text-center">Password Association</h4>
        <div class="row d-flex justify-content-center align-items-center mb-1">
            <p>Give passwords to the emails imported</p>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <button type="button" class="btn-success btn w-50" onclick="clickAssociatePassword(); move();">
                Give password
            </button>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5 gap-5">
    <div class="col-lg-3 shadow rounded-2 p-3">
        <div class="rounded-bottom-0">
            <h4 class="text-center">Notify</h4>
            <div class="row d-flex justify-content-center align-items-center mb-1">
                <p>Notify those who have not completed the survey yet</p>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <button id="notification-button" type="button" class="btn-success btn w-50" onclick="move(); clickNotify(); setTimeout(startTimer(), 1000);">
                    <span id="timer">Send Notification</span>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-3 align-items-center">
            <div class="d-flex">
                <h6 class="text-center fw-bold">Missing users: </h6>
                <h6 class="text-center missingNumber ms-3"></h6>
            </div>
            <button class="btn btn-success" onclick="showNumber();"><i id="iconMissing" class="fa-solid fa-arrows-rotate"></i>
            </button>
        </div>
    </div>
</div>

<div class="w-25 m-auto mt-5 row text-center">
    <div>
        <div id="myBar">0%</div>
    </div>
</div>

<div class="row mt-5 m-auto w-25 text-center">
    <div class="alert text-xl" role="alert" id="alert-print" style="display: none">
        <span id="alert-text"></span> <i id="icon" class="fa-solid"></i>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    let clicked = 0;

    function showNumber() {
        let httpReq = new XMLHttpRequest();
        httpReq.onreadystatechange = function () {
            if (httpReq.readyState === 4) {
                if (httpReq.status === 200) {
                    operationDone();
                    $(".missingNumber").text(httpReq.responseText);
                } else {
                    operationFailed();
                }
            }
        }

        httpReq.open("GET", "http://localhost:8080/getNumberMissing");
        httpReq.send("Number Loaded");
    }

    function clickLoadEmails() {
        clicked = 1;
    }

    function clickAssociatePassword() {
        clicked = 2;
    }

    function clickNotify() {
        clicked = 3;
    }

    function loadEmails() {
        operationLoading();
        let uploadEmailsField = $("#file");
        let fileToUpload = uploadEmailsField[0].files[0];
        let formData = new FormData();

        if (fileToUpload === undefined) {
            operationFailed();
        } else {
            formData.append("IMPORT_EMAIL", fileToUpload, fileToUpload.filename);
            let httpReq = new XMLHttpRequest();
            httpReq.onreadystatechange = function () {
                if (httpReq.readyState === 4) {
                    if (httpReq.status === 200) {
                        alert('Email Report correctly load');
                        operationDone();
                    } else {
                        console.log(httpReq.responseText);
                        alert('Error during the loading');
                        operationFailed();
                    }
                }
            }

            httpReq.open("POST", "http://localhost:8080/importEmails");
            httpReq.send(formData);
        }
    }

    function associateEmailWithPassword() {
        clicked = 0;

        operationLoading();

        let httpReq = new XMLHttpRequest();

        httpReq.onreadystatechange = function () {
            if (httpReq.readyState === 4) {
                if (httpReq.status === 200) {
                    if (httpReq.response === "false") {
                        operazioneNonEseguita();
                    } else {
                        operationDone();
                    }
                } else {
                    operationFailed();
                }
            }
        }

        httpReq.open("GET", "http://localhost:8080/sendMail");
        httpReq.send("Email Sent");
    }

    function sendNotification() {
        clicked = 3;

        operationLoading();

        let httpReq = new XMLHttpRequest();

        httpReq.onreadystatechange = function () {
            if (httpReq.readyState === 4) {
                if (httpReq.status === 200) {
                    if (httpReq.response === "false") {
                        operazioneNonEseguita();
                    } else {
                        operationDone();
                    }
                } else {
                    operationFailed();
                }
            }
        }

        httpReq.open("GET", "http://localhost:8080/sendNotification");
        httpReq.send("Alert Message Sent");
    }

    let i = 0;

    function move() {
        if (i === 0) {
            i = 1;
            let elem = document.getElementById("myBar");
            elem.style.display = "block";

            let width = 0;
            let id = setInterval(frame, 10);

            function frame() {
                if (width >= 100) {
                    clearInterval(id);

                    switch (clicked) {
                        case 1: {
                            loadEmails();
                        }
                            break;

                        case 2: {
                            associateEmailWithPassword();
                        }
                            break;

                        case 3: {
                            sendNotification();
                        }
                            break;
                    }
                    elem.style.display = "none";
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width + "%";
                }
            }
        }
    }

    if (localStorage.getItem("count_timer")) {
        var count_timer = localStorage.getItem("count_timer");
        setTimeout("startTimer()", 1000);
        document.getElementById("timer").innerText = "...";
        document.getElementById("notification-button").classList.add("disabled");

    } else {
        var count_timer = 180;
    }

    var finished = false;

    function startTimer() {

        if (finished) {
            count_timer = 180;
            localStorage.setItem("count_timer", count_timer);
        }

        if (count_timer <= 0) {
            localStorage.clear();
            document.getElementById("notification-button").classList.remove("disabled");
            document.getElementById("timer").innerText = "Send Notification";
            finished = true;
        } else {
            finished = false;
            var minutes = Math.floor(count_timer / 60);
            var seconds = count_timer - minutes * 60;
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            document.getElementById("notification-button").classList.add("disabled");
            document.getElementById("timer").innerText = minutes + ":" + seconds;
            count_timer -= 1;
            localStorage.setItem("count_timer", count_timer);
            setTimeout("startTimer()", 1000);
        }
    }

    function logout() {
        window.location.replace('/logout');
    }

    //Function to display the div with loading operation sentence
    function operationLoading() {

        $("#alert-text").text("Operation Working");

        let alertPrint = $("#alert-print");
        let icon = $("#icon");

        alertPrint.removeClass("alert-warning");
        alertPrint.removeClass("alert-success");
        alertPrint.removeClass("alert-danger");
        alertPrint.addClass("alert-secondary");


        icon.addClass("fa-gear");
        icon.addClass("fa-spin");
        icon.removeClass("fa-circle-info");
        icon.removeClass("fa-circle-check");
        icon.removeClass("fa-circle-xmark");

        alertPrint.css("display", "block");
    }

    //Function to display the div with done operation sentence
    function operationDone() {
        $("#alert-text").text("Operation Successful");

        let alertPrint = $("#alert-print");
        let icon = $("#icon");

        alertPrint.removeClass("alert-secondary");
        alertPrint.addClass("alert-success");
        icon.removeClass("fa-gear");
        icon.removeClass("fa-spin");
        icon.addClass("fa-circle-check");
    }

    //Function to display the div with failed operation sentence
    function operationFailed() {
        $("#alert-text").text("Operation Failed");

        let alertPrint = $("#alert-print");
        let icon = $("#icon");

        alertPrint.removeClass("alert-secondary");
        alertPrint.addClass("alert-danger");
        icon.removeClass("fa-gear");
        icon.removeClass("fa-spin");
        icon.addClass("fa-circle-xmark");
    }

    function operazioneNonEseguita() {
        $("#alert-text").text("Operation not completed.");
        let alertStampa = $("#alert-print");
        let icon = $("#icon");

        alertStampa.removeClass("alert-secondary");
        alertStampa.addClass("alert-warning");
        icon.removeClass("fa-gear");
        icon.removeClass("fa-spin");
        icon.addClass("fa-circle-info");
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>