<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll - Insert Email</title>
    <script src="https://kit.fontawesome.com/c20728e86b.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <style>
        #myBar {
            width: 0;
            height: 30px;
            background-color: #198754;
            color: white;
            text-align: center;
            line-height: 30px;
            display: none;
            border-radius: 20px;
        }
    </style>

</head>
<body class="container w-100">

<div class="row">
    <h1 class="text-center">ZeroPoll</h1>
</div>

<div class="row mb-5">
    <div class="col-lg-2 w-25 box shadow rounded-2 p-3">
        <h1 class="text-center">LEONARD</h1>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5 gap-5">
    <div class="col-lg-2 w-25 box shadow rounded-2 p-3">
        <h4 class="text-center">Load E-Mails</h4>

        <div class="row d-flex justify-content-center align-items-center mb-3">
            <input id="file" name="file" type="file"/>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <button type="button" class="btn-success btn w-50" onclick="move();">
                Load e-mails
            </button>
        </div>
    </div>

    <div class="col-lg-2 w-25 box shadow rounded-2 p-3">
        <h4 class="text-center">Password Association</h4>
        <div class="row d-flex justify-content-center align-items-center mb-1">
            <p>Give passwords to the emails imported</p>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
            <button type="button" class="btn-success btn w-50" onclick="move()">
                Give password
            </button>
        </div>

    </div>
</div>

<div class="w-25 m-auto mt-5 row text-center">
    <div>
        <div id="myBar">0%</div>
    </div>
</div>

<div class="row mt-5 m-auto w-25 text-center">
    <div class="alert text-xl" role="alert" id="alert-stampa" style="display: none">
        Operazione in corso <i id="icona" class="fa-regular"></i>
    </div>
</div>

<script>

    let cliccato = 0;

    function loadEmails()
    {
        cliccato = 1;

        let uploadProdottiField = document.getElementById('file');
        let fileToUpload = uploadProdottiField.files[0];
        let formData = new FormData();

        if(fileToUpload === undefined)
        {
            document.getElementById("alert-danger").style.display="block";
        }
        else
        {
            formData.append("IMPORT_EMAIL", fileToUpload, fileToUpload.filename);
            let httpReq = new XMLHttpRequest();

            httpReq.onreadystatechange = function (evt)
            {
                if(httpReq.readyState === 4)
                {
                    if(httpReq.status === 200)
                    {
                        alert('Report Email caricato');
                        document.getElementById("alert-success").style.display="block";
                    }
                    else
                    {
                        console.log(httpReq.responseText);
                        alert('Errore durante il caricamento');
                        document.getElementById("alert-danger").style.display="block";
                    }
                }
            }

            httpReq.open("POST","http://localhost:8080/importEmails");
            httpReq.send(formData);
        }

    }

    function associateEmailWithPassword()
    {
        cliccato = 0;
        document.getElementById("alert-stampa").classList.remove("alert-success");
        document.getElementById("alert-stampa").classList.remove("alert-danger");

        document.getElementById("alert-stampa").classList.add("alert-secondary");

        document.getElementById("icona").classList.add("fa-sun");
        document.getElementById("icona").classList.add("fa-spin");
        document.getElementById("icona").classList.remove("fa-circle-check");
        document.getElementById("icona").classList.remove("fa-circle-xmark");

        document.getElementById("alert-stampa").style.display = "block";

        let httpReq = new XMLHttpRequest();

        httpReq.onreadystatechange = function (evt)
        {
            if(httpReq.readyState === 4)
            {
                if(httpReq.status === 200)
                {
                    document.getElementById("alert-stampa").classList.remove("alert-secondary");
                    document.getElementById("alert-stampa").classList.add("alert-success");
                    document.getElementById("icona").classList.remove("fa-sun");
                    document.getElementById("icona").classList.remove("fa-spin");
                    document.getElementById("icona").classList.add("fa-circle-check");
                }
                else
                {
                    console.log(httpReq.responseText);
                    document.getElementById("alert-stampa").classList.remove("alert-secondary");
                    document.getElementById("alert-stampa").classList.add("alert-danger");
                    document.getElementById("icona").classList.remove("fa-sun");
                    document.getElementById("icona").classList.remove("fa-spin");
                    document.getElementById("icona").classList.add("fa-circle-xmark");
                }
            }
        }

        httpReq.open("GET","http://localhost:8080/sendMail");
        httpReq.send("Email Spedita");
    }

    let i = 0;
    function move() {
        if (i == 0) {
            i = 1;
            let elem = document.getElementById("myBar");
            elem.style.display = "block";

            let width = 0;
            let id = setInterval(frame, 10);
            function frame() {
                if (width >= 100) {
                    clearInterval(id);

                    if(cliccato === 1)
                    {
                        loadEmails();
                    }
                    else
                    {
                        associateEmailWithPassword();
                    }

                    elem.style.display = "none";
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width + "%";
                }
            }
        }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>