<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Poll - Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css" integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
<!--<body class="container">-->
<!--    <h1>Login</h1>-->
<!--    <form class="m-5 mb-3 needs-validation" method="post">-->
<!--        <div class="mb-3">-->
<!--            <label for="username" class="form-label">Username:</label>-->
<!--            <input type="text" id="username" class="form-control rounded-0"/>-->
<!--&lt;!&ndash;            <div class="invalid-feedback">error</div>&ndash;&gt;-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="password" class="form-label">Password:</label>-->
<!--            <input type="password" class="form-control rounded-0" id="password"/>-->
<!--&lt;!&ndash;            <div class="invalid-feedback">{formik.errors.password}</div>&ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="mt-1 text-end" id="signIn">&ndash;&gt;-->
<!--&lt;!&ndash;            Non sei ancora registrato? <a href={"/signIn"}> Sign in</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="mt-2 text-end" id="signIn">&ndash;&gt;-->
<!--&lt;!&ndash;            <a href={""}>Password dimenticata ?</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="d-flex justify-content-center mt-3">-->
<!--            <button type="submit" class="w-50 btn btn-success shadow mb-3">-->
<!--                Accedi-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--    <p th:text="${greeting}"></p>-->
<!--</body>-->
</html>